@charset "utf-8";
/* CSS Document */

/*TeacherIndex*/
#head #loginuser{display:none;}
#head #T-user{display:block;}

#bodybox  #leftaddchild li{list-style:inside;}

#bodybox #leftbar .lefthead .icon-plus-sign{
	color:#FF6;
	margin-left:50%;
}	

#bodybox #leftbar .lefthead span{
	color:#fff;
	font-size:18px;
	margin-left:15px;
	line-height:45px;
}


#bodybox #leftbar .leftbody{
	color:#000
	;
	
}
#bodybox #leftbar .leftbody input{
	//border:none;
	
	}
	
#bodybox #leftbar  .icon-plus-sign{
	color:#FF6;
	margin-left:29px;
	
}
#bodybox #leftbar #leftbody{
	background-color:#FFF;
	width:271px;
	padding-left:17px;
	}
#bodybox #leftbar #leftbody #leftadd{background:#CCC;}
	
#bodybox #leftbar .icon-remove-sign{
	color:#F00;	
}

#bodybox #leftbar #leftaddchild #del{
	padding-left:12px;	
	}
/* rgihtbar 首页css*/	
#bodybox #rightbar{padding:10px 0 0 10px;}
#bodybox #rightbar #r_head{
	display:inline;	
	}
	
#bodybox #rightbar #r_head .icon-search ,.icon-plus-sign{
	color:#4cb050;
	}
#bodybox #rightbar .icon-plus-sign{
	position:absolute; right:12%;
	}
#bodybox #rightbar #r_head .icon-search{
	position:absolute; right:15%;
	}	
	
hr{width:97%;border-color:#0C9;}	

#bodybox #rightbar table{width:97%;margin-top:2%;border-top:#0C0;}
#bodybox #rightbar table tr{height:20px;}
#bodybox #rightbar table th{text-align:center;font-size:14px;padding:5px 0 5px 0;}
#bodybox #rightbar table td{text-align:center;}
#bodybox #rightbar table img{margin-left:40%;}


/* revise-rightbar css*/
#bodybox #rightbar form {
	margin-left:2%;	
	}
#bodybox #rightbar form #revise_input{position:absolute;top:21%;left:40%;}
#bodybox #rightbar form #revise_intro{font-size:14px;}
#bodybox #rightbar form #revise_intro img{margin-right:8px;}
#bodybox #rightbar form #revise_intro p{margin-bottom:20px;}
#bodybox #rightbar form #revise_input p{margin-bottom:20px;}
#bodybox #rightbar form #revise_btn{margin-left:5%;}
#bodybox #rightbar form #revise_btn #warning{margin-right:20px;}
#bodybox #rightbar form #revise_btn .btn-default{background:#F03;color:#FFF;}
#bodybox #rightbar form #revise_input #true{color:#F00;}

/* lookquestion-rightbar css*/

#bodybox #rightbar #lq_head li{
	display:inline;
		
	}
#bodybox #rightbar #lq_head_li {
	position:absolute;right:15%;
	}

#bodybox #rightbar #question_show_name p{font-size:16px;}
#bodybox #rightbar #question_show_name p{margin-bottom:30px;}
#bodybox #rightbar #question_show_name {text-align:right;width:15%;}

#bodybox #rightbar #question_show{position:absolute;top:21%;left:60%;}
